/* Navbars & navigation */
.navbar {
  border: none;
  border-radius: 0;
  background: none; }

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 0px; }

.nav > li {
  position: relative;
  display: block;
  padding: 0px 15px; }

ul {
  padding: 0; }
  ul li {
    list-style-type: none; }

.carousel-indicators {
  display: none; }

/* Buttons */
.btn {
  border-radius: 0;
  padding: 6px 26px; }

/* carousel */
.carousel-caption {
  text-align: inherit;
  text-shadow: none; }

.carousel-control.left, .carousel-control.right {
  background: none; }

article {
  position: relative; }
