@import './Variables.scss';
@import './Mixins.scss';

.FeatureBlock {
  height: 240px;
  color: $white;
  position: relative;
  display: table;
}

.FeatureBlock .img-background {
  position: absolute;
  z-index: -1;
  max-height: 240px;
}
.FeatureBlock .block-content {
  padding:0 40px 20px 40px;
  vertical-align: bottom;
  display: table-cell;
}
.FeatureBlock h1 {
  font-size:18px;
  font-weight: 700;
  padding: 0 0 10px 0;
  margin: 0;
  line-height: 23px;
  border-bottom: $lineColor 1px solid;
  position: relative;
}

.FeatureBlock h1::before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: $accentColor;
    display: inline-block;
    position: absolute;
    bottom: -1px;
}

.FeatureBlock:hover .icon-actions, .SimpleBlock:hover .icon-actions {
  display: block;
  @include fadeIn( 1s );
}

.SimpleBlock.video .imageContainer{
  position: relative;
}
.SimpleBlock.video .image-container .middle-icon {

  background: $accentColorWithOpacity;
  display: table;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SimpleBlock.video .image-container .middle-icon i {
  color: $white;
  padding:20px;
}

@media(max-width: 1024px) {
  .FeatureBlock .block-content {
    padding: 0 20px 60px 20px;
  }
}

@media (max-width: 768px) {
  .FeatureBlock {
    margin-bottom: 30px;
    overflow: hidden;
  }
  .FeatureBlock .img-background {
    max-height: fit-content;
  }
}

@media (max-width: 480px) {
  .FeatureBlock {
    margin-bottom:30px;
    height: 220px;
  }
  .FeatureBlock .block-content {
    padding:0 20px 10px 20px;
  }
  .SimpleBlock {
    min-height: 265px;
  }
}

@media (max-width: 320px) {
  .FeatureBlock {
    margin-bottom:30px;
    height: 190px;
  }
}
