@import './Variables.scss';

.btn-primary {
    color: $white;
    background-color: $primary;
    border: none;
}
.btn-primary:hover {
    color: $white;
    background-color: $primaryAccent;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: $white;
    background-color: $primaryAccent;
}
.btn-primary.focus, .btn-primary:focus {
  background-color: $primaryAccent;
  outline: 0;
}
