@import './Variables.scss';

h1 {
  font-weight: 700;
  letter-spacing: -0.05em;
}
h2 {
  font-size:18px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 23px;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

h2.title, h4.title {
  border-bottom: $lineColor 1px solid;
  padding-bottom: 10px;
  position: relative;
}
h2.title::before, h4.title::before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: $accentColor;
    display: inline-block;
    position: absolute;
    bottom: -1px;
}

a {
  color: $accentColor;
}
a:hover {
  color:$accentColorWithOpacity;
  text-decoration: none;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

.inline {
  display: inline;
}

.icon-actions {
  position: absolute;
  top: 0;
  right: 0;
  padding:10px;
  display: none;
  a {
     &:hover i {
       background-color: $primaryAccent;
       color: $lineColor;
     }
  }
  a i {
    display: inline-block;
    border-radius: 60px;
    background: $primary;
    color: $white;
    padding: 6px;
    margin-left:6px;
  }
}

@media (max-width: 480px) {
  h4.title {
    margin-bottom:30px;
  }
}
