@import './Variables.scss';

.Footer {
  background-color: $footerBackground;
  color: $white;
  padding:60px 0 60px 0;
}
.Footer a {
  color: $white;
  text-transform: uppercase;
  font-weight: 600;
}
.Footer a:hover {
  color: $accentColor;
}
.Footer ul li {
  margin-bottom: 5px;
}
.FooterCopy {
  background-color: $footerCopyBackground;
  color: $white;
  padding: 20px 0 20px 0;
  a {
    display: inline-block;
    margin-right:10px;
  }
}
