@import './Variables.scss';

.carousel-control {
  right:0;
  left:initial;
  bottom: 25px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 25%;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
  font-size: 13px;
}

.main-block {
  position: relative;
}
@media (max-width: 1024px) {
  .carousel-inner>.item>a>img, .carousel-inner>.item>img {
    max-width: fit-content;
  }
}
@media (max-width: 480px) {
  .carousel-caption {
    left:3%;
    right:3%;
    bottom:3px;
    padding-bottom:0px;
  }
  .carousel-description {
    display: none;
  }
}
@media screen and (min-width: 768px) {
.carousel-caption {
    right: 5%;
    left: 5%;
    padding-bottom: 30px;
}
}
