@import './Variables.scss';

.navbar {
    border-bottom: $lineColor 1px solid;
    padding: 20px 0px;
    font-weight: 600;
}
.navbar-default .navbar-nav>li>a {
  color: $mainColor;
}
.navbar-default .navbar-brand {
  color: $accentColor;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: $mainColor;
  border-bottom: $mainColor solid 3px;
}
.logo {
  width: 50%;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
      padding-top: 15px;
      padding-bottom: 3px;
  }
}
@media (max-width: 480px) {
  .navbar-nav {
      margin: 7.5px 0px;
  }
}
