@import './Variables.scss';

.NewsList header{
  border-top:$primary 20px solid;
  border-bottom: $lineColor 1px solid;
}
.NewsComponent {
  padding-top:30px;
  line-height: 23px;
  display: block;
  color: $mainColor;
  cursor:pointer;
}
.NewsComponent:hover {
  color: $primary;
}
