/* Colors */

$mainColor: rgb(37,38,42);
$accentColor: rgb(219,32,0);
$accentColorWithOpacity: rgba(219,32,0,0.6);
$lineColor: #dddddd;
$white: #ffffff;

$primary: rgb(219,32,0);
$success: rgb(219,32,0);
$info: rgb(219,32,0);
$warning: rgb(219,32,0);
$danger: rgb(219,32,0);
$link: rgb(219,32,0);
$background: #faf9f9;
$primaryAccent: rgb(196,29,0);

$footerBackground: #202125;
$footerCopyBackground: #1C1D21;

/* Sizes */

/*
** Margin & Paddings
**

** This loop will create "margin helpers" and "padding helpers".
** It will generate several classes such as:
** .m-r-10 which gives margin-right 10 pixels.
** .m-r-15 gives MARGIN to the RIGHT 15 pixels.
** .m-t-15 gives MARGIN to the TOP 15 pixels and so on.
** .p-b-5 gives PADDING to the BOTTOM of 5 pixels
** .p-l-40 gives PADDING to the LEFT of 40 pixels
** The first letter is "m" or "p" for MARGIN or PADDING
** Second letter is "t", "b", "l", or "r" for TOP, BOTTOM, LEFT, or RIGHT
** Third letter is the number of spacing in pixels.
*/

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}


/* Helpers */
