@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600,700');
@import '~font-awesome/css/font-awesome.min.css';
@import './styles/Variables.scss';
@import './styles/Mixins.scss';
@import './styles/Resets.scss';
@import './styles/Content.scss';
@import './styles/Buttons.scss';
@import './styles/Navs.scss';
@import './styles/News.scss';
@import './styles/MainSection.scss';
@import './styles/Blocks.scss';
@import './styles/Footer.scss';
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color:$mainColor;
    font-family: 'Raleway';
    font-size:13px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
